*
*.jar
yarn.lock
build
.idea
.gradle
.DS_Store
node_modules
**/target
**/**/build.gradle
**/Cargo.lock
**/Cargo.toml
**/pom.xml
**/gradle
gradlew
package.json
README.adoc
gradlew.bat
settings.gradle
gradle/